<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Katte - Katteで買って圧倒的に健康になろう</title>
    <meta name="format-detection" content="telephone=no">
    <!--電話番号などを勝手にリンクにしないよう-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE最新バージョンで対応するよ-->
    <meta name="viewport" content="width=1000">
    <link rel="styleSheet" href="css/default.css">
    <link rel="styleSheet" href="css/reset.css">
    <link rel="stylesheet" href="css/remodal.css">
    <link rel="SHORTCUT ICON" href="img/katte_logo.png">
    <link rel="stylesheet" href="css/remodal-default-theme.css">
    <meta name="apple-mobile-web-app-title" content="Katte">
    <!--スマホでホームに追加した時に使うよ-->
  </head>
  <body>
    <div id="login_layout" class="display_none">
      <header>
        <div id="menuWrapper" class="clearfix">
          <div id="menuWapperRight" class="clearfix">
            <h1 id="headerLogoImage">
              <a href="/">Katte</a>
            </h1>
          </div>
          <ul class="clearfix">
            <li>
              <a href="/sell">
                <img src="img/btn_sell_off.png" alt="出品する" height="50px">
              </a>
            </li>
            <li>
              <a href="/">
                <img src="img/btn_all_on.png" alt="一覧" height="50px">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/btn_fb.png" alt="facebook" height="50px">
              </a>
            </li>
          </ul>
        </div>
      </header>
      <nav id="secondMenu">
        <img src="img/ttl_all_item.png" alt="一覧" height="30px">
      </nav>
      <div id="body">
        <a href="/sell"><img src="img/btn_purchase.png" alt="購入する" class="btnPurchase" height="150px"></a>
        <div id="content">
          <article class="baseCell">
            <section id="allItem">
              <ul class="clearfix">
                <?php foreach ($items as $item) {?>
                <?php   if ($item['is_purchased']) { ?>
                <li class="itemOffWrap">
                  <?php   } else { ?>
                <li>
                  <a href="#modal-<?php echo $item['id'];?>">
                    <?php   } ?>
                    <p class="useNameTxt"><?php echo $item['user_name']; ?></p>
                    <img src="files/<?php echo $item['image_name']; ?>" alt="これはdummy" class="imgSell">
                    <p class="ttlItem"><?php echo $item['item_name']; ?></p>
                    <div class="statusDateWrap clearfix">
                      <p class="dateStart"><?php echo $item['created_at']; ?></p>
                      <p class="dateTxt">UP DATE</p>
                    </div>
                    <a class="btnSellOn">アイテム詳細</a>
                  </a>
                </li>
                <?php } ?>
              </ul>
            </section>
            <!--
                むーにゃー　むーにゃ
                　　　　　　　lヽ、　　　 　 　 　 　 /ヽ
                　　　　　　　 　 　i!　ﾞヽ、 　 　　　　／ 　ﾞi!　　　　　 ..,,　.,,.;;''⌒ヽ
                　　　　 　 　 　 　l　　　 ゝ-─‐-／'　　　 i!　 , ,__,,;'"　 "';　　　 ,ﾉ
                　　　　　　　　　,／"　　　　　　　 　 　　　i!''"　 ....ﾞ'';;..,,;;　　,,Y"
                　　　　　　　　,/'　　　　　　　　　　　　　 〈　　　　　　　　　'i;;- ､,,　　
                　　　　 　 　　i'　　　　　　　    　　　　 'i,　　　　　　　　 　　 　 ﾞ"ヽ、　
                　　　 　 　 　 i!　●　　　　　●　　 　　　 ,'i　　　　　　　　　　 　　　　ﾞ）
                　　　　　　　　'i,:::(_____） 　 　:::::::　　,/　　　　'　　　　　ﾞ",;''i,-‐'"
                　　　　　,,-‐''"ヽ､ 　 　　　　　　　 ,,-‐　　　　　　　　　,..;;;ﾞ"
                　　　　（　　　　,,, '' 　　　　 ,,.-‐''"　　　　　　　,,'"´｀`´
                　　　　 ヽ,..-‐''　　　 ,.-‐''"　　　　　　ノ-‐''"´ 　
                　　　　　　　　　　　（　　　　　　 ,. -'"
                　　　　　　　　　　　 ヽ、,,.. -‐'''"
              -->
          </article>
        </div><!--#content -->
      </div><!--#body-->
      <section class="footer">
        <div class="copylight">COPYRIGHT © Office KITANO CO.,LTD. ALL RIGHTS RESERVED.</div>
      </section>
      <div class="remodal-bg"></div>
      <?php foreach ($items as $item) {?>
      <?php   if ($item['is_purchased']) { continue; }?>
      <div class="remodal" data-remodal-id="modal-<?php echo $item['id']; ?>">
        <div class="modalWrap">
          <div class="modalColumn">
            <img src="img/btn_popup.png" class="closeButton" data-remodal-action="close">
            <img  class="ttlModal" src="img/ttl_buy.png" alt="購入">
            <img class="dummyImage" src="files/<?php echo $item['image_name']; ?>">
            <?php if (isset($item_info[$item['item_name']])) {?>
            <p class="userName"><?php echo $item_info[$item['item_name']]; ?></p>
            <?php } ?>
            <p class="ttlItem"><?php echo $item['item_name']; ?></p>              
            <p class="itemTxt"><?php echo $item['item_description']; ?></p>
            <form method="post" action="/buy">
              <input type="hidden" name="item_id" value="<?php echo $item['id']; ?>">
              <input type="hidden" name="user_hash" value="" id="user_hash">
              <button type="submit" class="btnSellOn modalBtn">購入する</button>
            </form>
          </div>
        </div>
      </div>
    <?php } ?>
    </div>
    <div id="not_login_layout">
      <header>
        <div id="menuWrapper" class="clearfix">
          <div id="menuWapperRight" class="clearfix">
            <h1 id="headerLogoImage">
              <a href="/">Katte - Katteで買って圧倒的に健康になろう</a>
            </h1>
          </div>
        </div>
      </header>
    <div id="openSite">
        <div id="opneWrap">
            <img src="img/mainvisual.png" alt="メインビジュアル">
            <p class="infoTxt">「Katte」を利用のかたはこちらから<br>Chrome拡張でログインしてください</p>
            <a class="btnSellOn openBtn" href="https://chrome.google.com/webstore/detail/katte/gpnebmoclfgnphnneoagbdkkbdgkmigp">Chrome拡張をダウンロードする</a>
            <p class="attentionTtx">※Chromeのみの対応だよ！</p>
            <p>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/remodal.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
  </body>
</html>
