<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>katte</title>
  <meta name="format-detection" content="telephone=no">
  <!--電話番号などを勝手にリンクにしないよう-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--IE最新バージョンで対応するよ-->
  <meta name="viewport" content="width=1000">
  <link rel="styleSheet" href="css/default.css">
  <link rel="styleSheet" href="css/reset.css">
  <meta name="apple-mobile-web-app-title" content="Katte">
  <!--スマホでホームに追加した時に使うよ-->
</head>
<body>
  <header>
    <div id="menuWrapper" class="clearfix">
      <div id="menuWapperRight" class="clearfix">
        <h1 id="headerLogoImage">
          <a href="#">Katte</a>
        </h1>
      </div>
      <ul class="clearfix">
        <li>
          <a href="sell.html">
            <img src="img/btn_sell_off.png" alt="出品する" height="50px">
          </a>
        </li>
        <li>
          <a href="index.html">
            <img src="img/btn_all_on.png" alt="一覧" height="50px">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/btn_mypage_off.png" alt="マイページ" height="50px">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/btn_fb.png" alt="facebook" height="50px">
          </a>
        </li>
      </ul>
    </div>
  </header>
  <nav id="secondMenu">
    <div id="secondMenuWrapper" class="clearfix">
      <img src="img/ttl_all_item.png" alt="一覧" height="30px">
    </div>
  </nav>
  <div id="body">
    <div id="content">
      <article class="baseCell">
          <div class="modalWrap">
            <div class="modalColumn">
                <img  class="ttlModal" src="img/ttl_buy.png" alt="購入">
                <img class="dummyImage" src="img/dummy.png" alt="ダミー画像だよー">
                <p class="userName">瀬川です</p>
                <p class="itemTtl">ああああああああああああああ</p>              
                <p class="itemTxt">ああああああああああああああああああああああああああああああああああ</p>
                <a class="btnSellOn modalBtn">奪い取る</a>
            </div>
          </div>
      </article>
    </div><!--#content -->
  </div><!--#body-->
  <section class="footer">
    <div class="copylight">COPYRIGHT © Office KITANO CO.,LTD. ALL RIGHTS RESERVED.</div>
  </section>
</body>
</html>
