<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Katte - Katteで買って圧倒的に健康になろう</title>
    <meta name="format-detection" content="telephone=no">
    <!--電話番号などを勝手にリンクにしないよう-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE最新バージョンで対応するよ-->
    <meta name="viewport" content="width=1000">
    <link rel="styleSheet" href="css/default.css">
    <link rel="styleSheet" href="css/reset.css">
    <link rel="SHORTCUT ICON" href="img/katte_logo.png">
    <meta name="apple-mobile-web-app-title" content="Katte">
    <!--スマホでホームに追加した時に使うよ-->
  </head>
  <body>
    <header>
      <div id="menuWrapper" class="clearfix">
        <div id="menuWapperRight" class="clearfix">
          <h1 id="headerLogoImage">
            <a href="/">Katte</a>
          </h1>
        </div>
        <ul class="clearfix">
          <li>
            <a href="/sell">
              <img src="img/btn_sell_on.png" alt="出品する" height="50px">
            </a>
          </li>
          <li>
            <a href="/">
              <img src="img/btn_all_off.png" alt="一覧" height="50px">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/btn_fb.png" alt="facebook" height="50px">
            </a>
          </li>
        </ul>
      </div>
    </header>
    <nav id="secondMenu">
      <div id="secondMenuWrapper" class="clearfix">
        <img src="img/ttl.png" alt="出品" height="30px">
      </div>
    </nav>
    <div id="body">
      <div id="content">
        <article class="baseCell clearfix">
          <form method="post" actioin="/sell" enctype="multipart/form-data">
            <section class="sellCenterWrap">
              <dl>
                <dt class="sellFormTtl">アイテム名</dt>
                <dd>
                  <input class="sellForm" type="text" name="item_name" placeholder="10文字くらいでアイテム名をつけてね">
                </dd>
                <dt class="sellFormTtl">アイテム説明</dt>
                <dd>
                  <textarea name="item_description" placeholder="100文字くらいで説明を入れてね" class="sellForm sellFormDescription"></textarea>
                </dd>
                <dt class="sellFormTtl">アイテム画像を選択</dt>
                <dd>
                  <input type="file" name="image">
                </dd>
                <dt class="sellFormTtl">売りつける人を選択</dt>
                <dd>
                  <select name="mention_user_name">
<?php foreach($users as $user) { ?>
                    <option value="<?php echo $user['user_name']; ?>"><?php echo $user['user_name']; ?></option>
<?php } ?>
                  </select>
                </dd>
                <dt class="sellFormTtl">金額入力</dt>
                <dd>
                  <input class="sellForm" type="text" name="price" value="0">
                </dd>
                <dd>
                  <input class="sellFormOff" type="submit" value="送信">
                </dd>
              </dl>
            </section>
          </form>
        </article>
      </div><!--#content -->
    </div><!--#body-->
    <section class="footer">
      <div class="copylight">COPYRIGHT © Office KITANO CO.,LTD. ALL RIGHTS RESERVED.</div>
    </section>
  </body>
</html>
